<div class="container">
  <h1>Melyik szó van előbb az abc-ben? Válaszd ki!</h1>
  <div class="button-wrapper center">
    <span *ngFor="let word of challenge">
      <button mat-raised-button color="primary" (click)="guess(word)">{{word}}</button> &nbsp;
    </span>
  </div>
  <div class="actions">
    <button mat-raised-button color="warn" *ngIf="result === 'helytelen'" (click)="restart()">tovább ...</button>
  </div>

  <div *ngIf="result !== ''">
    <br>
    <span *ngIf="result === 'helyes'"><strong>A válasz helyes!</strong></span>
    <span
      *ngIf="result === 'helytelen'">A válasz rossz! A helyes megoldás: <strong>{{challengeOrdered[0]}}</strong></span>
  </div>

</div>

<div class="container">
  <mat-progress-bar mode="determinate" [value]="showPercent(correctGuesses, totalGuesses)"></mat-progress-bar>
  <p class="center">
    {{correctGuesses}} / {{totalGuesses}} ({{showPercent(correctGuesses, totalGuesses) | number:'1.0-0'}}%)
  </p>
</div>
